{{#if sucesso_msg}}
    <div class="alert alert-success">{{sucesso_msg}}</div>
{{/if}}

{{#if falha_msg}}
    <div class= "alert alert-danger">{{falha_msg}}</div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}